In [38]:
print(f'Majority of the customers are married.\nPercentage of married customers: {(d.marstat.value_counts(normalize=True)[0]*100): .2f}%')

Majority of the customers are married.
Percentage of married customers:  46.28%

In [57]:
summary_marstat = pd.concat([d.marstat.value_counts(), d.marstat.value_counts(normalize=True)], axis=1)
summary_marstat.columns = ['Ct.', '%']
summary_marstat['%'] = (round(summary_marstat['%']*100,2)).astype(str) + '%'
summary_marstat

           Ct.       %
Married   4687  46.28%
Single    3943  38.94%
Unknown    749    7.4%
Divorced   748   7.39%