<h1 style="background-color:rgb(67, 77, 86);
           font-size:300%;
           font-style: oblique;
           color:white;
           text-align:center;
           margin: auto;
           padding: 20px;">Predicting Bank Churners</h1>

<h2 style="background-color:rgb(141, 153, 165);
           font-size:250%;
           color:white;
           text-align:center;
           margin: auto;
           padding: 10px;">Chapter 1: Initial Data Preparation</h2>

<a id='1.1'>
    <h2 style='font-size:180%;'>
        Mission</h2></a>

<figure>
    <blockquote cite='https://www.kaggle.com/sakshigoyal7/credit-card-customers/tasks?taskId=2729'>
        <p style='font-size:110%;
                  color:hsl(208, 12%, 30%);'><i>Our top priority in this business problem is to identify customers who are getting churned. Even if we predict non-churning customers as churned, it won't harm our business. But predicting churning customers as non-churning will do. So recall needs to be higher. Till now, I have managed to get a recall of 62%.</i></p>
    </blockquote>
    <figcaption>—Sakshi Goyal, <cite>Credit Card Customers, Kaggle</cite></figcaption>

<h2 style='font-size:180%;'>
    Table of Contents
</h2>

* [Introduction](#1)
    * [Libraries](#1.1)
    * [Data Loading](#1.2)
* [Initial Data Preparation](#2)
    * [Treatment of `Unknown`'s](#2.1)
    * [Data Types](#2.2)
      * [Discrete Variable Classes](#2.2.1)
      * [Continuous & Discrete Variables](#2.2.2)
    * [Data Type Transformation](#2.3)
      * [Non-Ordinal - Integer to Float](#2.3.1)
      * [Non-Ordinal - String to Dummies](#2.3.2)
      * [Ordinal - String to Ordinal](#2.3.3)
      * [Feature Engineering Without Data Leakage](#2.3.4)
    * [Cleaning, Inspection, Saving](#2.4)

<a id="1"></a>
<h2 style="background-color:rgb(141, 153, 165);
           font-size:250%;
           color:white;
           text-align:center;
           margin: auto;
           padding: 10px;">Introduction</h2>

<a id='1.1'>
    <h2 style='font-size:210%;'>
        Libraries</h2></a>

In [1]:
# general
from scipy import stats 
import numpy as np
import pandas as pd
import random as rd
import copy

from sklearn.preprocessing import LabelEncoder

# settings
pd.options.display.float_format = "{:,.2f}".format

# saving
import os

<a id='1.3'>
    <h2 style='font-size:210%;'>
        Data Loading</h2></a>

In [2]:
# load data
d = pd.read_csv('source/bankchurn.csv')
d = d.iloc[:,:-2]  # deleting last two cols as instructed
d = d.drop(["CLIENTNUM"],axis=1) # drop var not needed

In [3]:
# rename columns
d.columns = ['churn', 'age', 'gender', 'dependents',
             'educ_cat', 'marstat', 'inc_cat', 'card_cat',
             'mo_on_book', 'prod_ct', 'mo_inactive_r12',
             'contr_ct_r12', 'credlim_avg_r12', 'revbal_avg_r12',
             'opentobuy_avg_r12', 'chng_tx_amt_q4_q1', 'tx_amt_r12',
             'tx_ct_r12', 'chng_tx_ct_q4_q1', 'utilratio_avg']

In [4]:
# reorder columns
d = d[['churn', 'age', 'gender', 'educ_cat', 'inc_cat', 'marstat', 'dependents',
       'card_cat', 'prod_ct', 'mo_on_book', 'mo_inactive_r12', 'contr_ct_r12', 
       'revbal_avg_r12', 'credlim_avg_r12', 'opentobuy_avg_r12', 'utilratio_avg',
       'tx_amt_r12', 'tx_ct_r12', 'chng_tx_amt_q4_q1', 'chng_tx_ct_q4_q1']]

In [5]:
# reformat text to fix weird latex problem
d['inc_cat'] = d['inc_cat'].replace({'$40K - $60K': '$40K-60K',
                                     '$60K - $80K': '$60K-80K',
                                     '$80K - $120K': '$80K-120K',
                                     '$120K +':'$120K+'})

In [6]:
rd.seed(1)
d.sample(3)

,churn,age,gender,educ_cat,inc_cat,marstat,dependents,card_cat,prod_ct,mo_on_book,mo_inactive_r12,contr_ct_r12,revbal_avg_r12,credlim_avg_r12,opentobuy_avg_r12,utilratio_avg,tx_amt_r12,tx_ct_r12,chng_tx_amt_q4_q1,chng_tx_ct_q4_q1
9099,Attrited Customer,43,M,Graduate,$40K-60K,Single,3,Blue,5,35,3,2,787,"6,080.00","5,293.00",0.13,4866,56,0.97,0.65
9674,Existing Customer,57,M,Post-Graduate,$80K-120K,Single,3,Blue,3,50,1,1,2293,"34,516.00","32,223.00",0.07,14287,114,0.80,0.75
5135,Attrited Customer,55,F,High School,$40K-60K,Single,3,Blue,5,47,4,3,1689,"2,687.00",998.00,0.63,2370,34,0.71,0.79

In [7]:
# save
d.to_csv('source\d_orig.csv',index=False)

<a id="2"></a>
<h2 style="background-color:rgb(141, 153, 165);
           font-size:250%;
           color:white;
           text-align:center;
           margin: auto;
           padding: 10px;">Initial Data Preparation</h2>

We now conduct minimal data preprocessing that does not contribute to data leakage. Data leakage occurs when information from the test set leaks into the train set resulting in more optimistic performance metrics but less robust model against new data. To prevent data leakage, we will avoid using statistics such as mean and standard deviation etc. from the whole dataset to scale, impute, and feature engineer. Instead, we apply simple data type transformations and row-based feature engineering.

<a id='2.1'>
    <h2 style='font-size:210%;'>
        Treatment of <code>Unknown</code>'s</h2></a>

In this section, we examine the costs and benefits of dropping all the `nan`-equivalent classes `Unknown`'s identified in `educ_cat`, `inc_cat` and `marstat`. Below is the remaining sample if we were to drop all the `Unknown`'s in order to eliminate noise as much as possible.

In [8]:
def d_leftover(data, varlist):
    dic_leftover = {}
    for col in varlist:
        orig_data_ct = len(data)
        rem_data_ct = len(data.drop(data[col][data[col]=='Unknown'].index))
        perc_captured = round(rem_data_ct/orig_data_ct*100,0)
        dic_leftover[data[col].name] = [rem_data_ct, perc_captured]
        print(f"""Remaining sample when dropping `{data[col].name}`: {rem_data_ct} cases or {perc_captured}% of the original data \n""")
    rem_data_ct_if_all = len(d[d!='Unknown'].dropna())
    perc_captured_if_all = round(rem_data_ct_if_all/orig_data_ct*100,0)
    print(f"""Remaining sample when dropping all `unknowns`: {rem_data_ct_if_all} cases or {perc_captured_if_all}% of the original data \n""")

In [9]:
d_leftover(d, ["educ_cat","inc_cat","marstat"])

Remaining sample when dropping `educ_cat`: 8608 cases or 85.0% of the original data

Remaining sample when dropping `inc_cat`: 9015 cases or 89.0% of the original data

Remaining sample when dropping `marstat`: 9378 cases or 93.0% of the original data

Remaining sample when dropping all `unknowns`: 7081 cases or 70.0% of the original data

The loss of sample is 30% if we drop all of the `Unknown`'s. For this reason, we will not drop any of these "Unknown" cases. The "Unknown" cases for `educ_cat` will be assigned the same value as the `Uneducated` class, a value of `0`. Assumption is that most people who did not provide their education level might have been disinclined to do so due to their lower education status. Same assumption applies to `inc_cat`. We will transform `marstat` to dummies as `marstat` will be treated as non-ordinal.

<a id='2.2'>
    <h2 style='font-size:210%;'>
        Data Types</h2></a>

In [10]:
# types of data present in data
d.dtypes.unique()

array([dtype('O'), dtype('int64'), dtype('float64')], dtype=object)

In [11]:
# current data type for each column
d.dtypes

churn                 object
age                    int64
gender                object
educ_cat              object
inc_cat               object
marstat               object
dependents             int64
card_cat              object
prod_ct                int64
mo_on_book             int64
mo_inactive_r12        int64
contr_ct_r12           int64
revbal_avg_r12         int64
credlim_avg_r12      float64
opentobuy_avg_r12    float64
utilratio_avg        float64
tx_amt_r12             int64
tx_ct_r12              int64
chng_tx_amt_q4_q1    float64
chng_tx_ct_q4_q1     float64
dtype: object

<a id='2.2.1'>
    <h2 style='font-size:180%;'>
        Discrete Variable Classes</h2></a>

In [12]:
d_discrete = d.select_dtypes(['int64','object'])
for col in d_discrete:
    print(f"""{d_discrete[col].name}
    Data Type: {d_discrete[col].dtype}
    Unique Counts: {d_discrete[col].nunique()}
    Unique Values: {d_discrete[col].sort_values().unique()}\n""")

churn
    Data Type: object
    Unique Counts: 2
    Unique Values: ['Attrited Customer' 'Existing Customer']

age
    Data Type: int64
    Unique Counts: 45
    Unique Values: [26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 70 73]

gender
    Data Type: object
    Unique Counts: 2
    Unique Values: ['F' 'M']

educ_cat
    Data Type: object
    Unique Counts: 7
    Unique Values: ['College' 'Doctorate' 'Graduate' 'High School' 'Post-Graduate'
 'Uneducated' 'Unknown']

inc_cat
    Data Type: object
    Unique Counts: 6
    Unique Values: ['$120K+' '$40K-60K' '$60K-80K' '$80K-120K' 'Less than $40K' 'Unknown']

marstat
    Data Type: object
    Unique Counts: 4
    Unique Values: ['Divorced' 'Married' 'Single' 'Unknown']

dependents
    Data Type: int64
    Unique Counts: 6
    Unique Values: [0 1 2 3 4 5]

card_cat
    Data Type: object
    Unique Counts: 4
    Unique Values: ['Blue' 'Gold' 'Platinum' 'Silver']

prod_ct
    Data Type: int64
    Unique Counts: 6
    Unique Values: [1 2 3 4 5 6]

mo_on_book
    Data Type: int64
    Unique Counts: 44
    Unique Values: [13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36
 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56]

mo_inactive_r12
    Data Type: int64
    Unique Counts: 7
    Unique Values: [0 1 2 3 4 5 6]

contr_ct_r12
    Data Type: int64
    Unique Counts: 7
    Unique Values: [0 1 2 3 4 5 6]

revbal_avg_r12
    Data Type: int64
    Unique Counts: 1974
    Unique Values: [   0  132  134 ... 2513 2514 2517]

tx_amt_r12
    Data Type: int64
    Unique Counts: 5033
    Unique Values: [  510   530   563 ... 17744 17995 18484]

tx_ct_r12
    Data Type: int64
    Unique Counts: 126
    Unique Values: [ 10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27
  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45
  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63
  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81
  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99
 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 134 138 139]

<a id='2.2.2'>
    <h2 style='font-size:180%;'>
        Continuous & Discrete Variables</h2></a>

In [13]:
# split continuous & discrete variables
d_discrete = d.select_dtypes(['int64','object'])
d_continuous = d.select_dtypes(['float64'])
print(f"""Discrete Variables: {list(d_discrete)}\n\nContinuous Variables: {list(d_continuous)}""")

Discrete Variables: ['churn', 'age', 'gender', 'educ_cat', 'inc_cat', 'marstat', 'dependents', 'card_cat', 'prod_ct', 'mo_on_book', 'mo_inactive_r12', 'contr_ct_r12', 'revbal_avg_r12', 'tx_amt_r12', 'tx_ct_r12']

Continuous Variables: ['credlim_avg_r12', 'opentobuy_avg_r12', 'utilratio_avg', 'chng_tx_amt_q4_q1', 'chng_tx_ct_q4_q1']

<a id='2.3'>
    <h2 style='font-size:210%;'>
        Data Type Transformation</h2></a>

<a id='2.3.1'>
    <h2 style='font-size:180%;'>
        Non-Ordinal - Integer to Float</h2></a>

* `revbal_avg_r12`
* `tx_amt_r12`

These variables are dollar amounts and are continuous up to tenths place. Therefore, we need to transform the data types to `float` from `int`.

In [14]:
d['revbal_avg_r12'] = d['revbal_avg_r12'].astype(float)
d['tx_amt_r12'] = d['tx_amt_r12'].astype(float)

<a id='2.3.2'>
    <h2 style='font-size:180%;'>
        Non-Ordinal - String to Dummies</h2></a>

#### *Bi-Class*

* `churn`
* `gender`

In [15]:
d['churn'] = d['churn'].map({'Existing Customer': 0, 'Attrited Customer': 1})
d['gender'] = d['gender'].map({'M': 1, 'F': 0})

#### *Multi-Class*

* `marstat`

In my first "1. Initial Data Preparation" notebook, I transformed the variables `marstat` and `card_cat` into dummies, but I wanted to explore how much explanatory power these variables can add when `marstat` is label-encoded and `card_cat` is interpreted as ordinal. The variable `marstat` would have to be taken as categorical as there is no hierarchy within different classes. We will transform this variable in this section. We will transform  `card_cat` in the section below. This is where this notebook "1. Initial Data Preparation-New" differs from "1. Initial Data Preparation."

***First 5 Rows Before Treatment:***

In [16]:
d['marstat'].head(5)

0    Married
1     Single
2    Married
3    Unknown
4    Married
Name: marstat, dtype: object

***First 5 Rows After Treatment:***

In [17]:
d['marstat'] = LabelEncoder().fit_transform(d['marstat'])
d['marstat'].head(5)

0    1
1    2
2    1
3    3
4    1
Name: marstat, dtype: int32

In [18]:
# d_dummies_marstat = pd.get_dummies(data=d['marstat'], prefix='marstat')
# d_dummies_card = pd.get_dummies(data=d['card_cat'], prefix='card')
# d = pd.concat([d, d_dummies_marstat, d_dummies_card], axis=1)
# d.sample(3)

<a id='2.3.3'>
    <h2 style='font-size:180%;'>
        Ordinal - String to Ordinal</h2></a>

* `card_cat`
* `educ_cat`
* `inc_cat`

Although 93% of customers hold the Blue card, I suspect that the more loyal group of customers (non-attrited customers) would be more likely to hold premium cards. This is where we may see the greatest benefits of turning dummies into ordinal variables.

In [19]:
print(f'Majority of the customers hold Blue card.\nPercentage of Blue card holders: {(d.card_cat.value_counts(normalize=True)[0]*100): .2f}%')

Majority of the customers hold Blue card.
Percentage of Blue card holders:  93.18%

In [20]:
summary_card = pd.concat([d.card_cat.value_counts(), d.card_cat.value_counts(normalize=True)], axis=1)
summary_card.columns = ['Ct.', '%']
summary_card['%'] = (round(summary_card['%']*100,2)).astype(str) + '%'
summary_card

           Ct.       %
Blue      9436  93.18%
Silver     555   5.48%
Gold       116   1.15%
Platinum    20    0.2%

In [21]:
d['card_cat'] = d['card_cat'].map({'Blue':0,
                                   'Silver':1,
                                   'Gold':2,
                                   'Platinum':3})

d['educ'] = d['educ_cat'].map({'Unknown':0,
                               'Uneducated':0,
                               'High School':1,
                               'College':2,
                               'Graduate':3,
                               'Post-Graduate':4,
                               'Doctorate':5})

d['inc'] = d['inc_cat'].map({'Unknown':0,
                             'Less than $40K':1,
                             '$40K-60K':2,
                             '$60K-80K':3,
                             '$80K-120K':4,
                             '$120K+':5})

<a id='2.3.4'>
    <h2 style='font-size:180%;'>
        Feature Engineering Without Data Leakage</h2></a>

In [22]:
# add a variable just to explore
d['tx_amt_pertx_r12'] = d['tx_amt_r12']/d['tx_ct_r12']

<a id='2.4'>
    <h2 style='font-size:210%;'>
        Cleaning, Inspection, Saving</h2></a>

In [23]:
# save full dataset
d_full = copy.deepcopy(d)

In [24]:
# drop unnecessary variables for the data to fit 
d = d.drop(d[['educ_cat', 'inc_cat']], axis=1)

In [25]:
# inspect new data
rd.seed(1)
d.sample(3)

,churn,age,gender,marstat,dependents,card_cat,prod_ct,mo_on_book,mo_inactive_r12,contr_ct_r12,...,credlim_avg_r12,opentobuy_avg_r12,utilratio_avg,tx_amt_r12,tx_ct_r12,chng_tx_amt_q4_q1,chng_tx_ct_q4_q1,educ,inc,tx_amt_pertx_r12
3716,0,60,1,2,0,0,6,36,3,2,...,"24,528.00","22,132.00",0.10,"4,070.00",67,0.81,0.72,0,4,60.75
9009,0,44,0,2,2,2,1,30,3,3,...,"15,365.00","14,735.00",0.04,"7,890.00",91,0.81,0.69,0,1,86.70
4108,0,49,1,2,1,0,6,36,3,4,...,"34,516.00","34,516.00",0.00,"2,512.00",45,0.67,0.32,0,4,55.82

In [26]:
# inspect new data types
d.dtypes

churn                  int64
age                    int64
gender                 int64
marstat                int32
dependents             int64
card_cat               int64
prod_ct                int64
mo_on_book             int64
mo_inactive_r12        int64
contr_ct_r12           int64
revbal_avg_r12       float64
credlim_avg_r12      float64
opentobuy_avg_r12    float64
utilratio_avg        float64
tx_amt_r12           float64
tx_ct_r12              int64
chng_tx_amt_q4_q1    float64
chng_tx_ct_q4_q1     float64
educ                   int64
inc                    int64
tx_amt_pertx_r12     float64
dtype: object

In [27]:
d.to_csv('source\d_num2.csv',index=False)